.main {
    margin :1em;
    padding-right: 20px;
}
.main2{
    margin-right :100%;
    text-transform: capitalize;
    text-align: right;
}
.main1{
    text-align: justify;
}
.title{
    margin :2em;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
}
/* .author{
    margin: 1em;
    margin-bottom: 2em;
    flex-wrap: wrap-reverse;
}   */
.label{
    padding-left: 20px;
    padding-block: 5px;
    margin-bottom: 10px ;
}
.span{
    padding: 10px;
    padding-left: 10px;   
}
.year{
    padding-top: 20px;
}
.input{
    padding-left: 20px;
    padding-block: 5px;
    margin-bottom: 10px ;  
}
.show{
    margin:1em;
}
